<div>    
    <h2 style="margin-bottom:2%;">employees</h2>
    <mat-table #table [dataSource]="dataSource">
        <!-- title Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <!-- content Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="phoneNumber">
            <mat-header-cell *matHeaderCellDef> phoneNumber </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
        </ng-container>

        <!-- updatedAt Column -->
        <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef> Adress </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>