<div class="truck-main-container">
    <h2> Truck Detail </h2>
    <div>
        <form class="truck-form" [formGroup]="truckForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field class="truck-full-width">
                <input matInput placeholder="Truck Name" formControlName="truckName">                    
            </mat-form-field>
            <div *ngIf="truckForm.controls['truckName'].errors && !truckForm.controls['truckName'].pristine" class="error-msg">
                <div [hidden]="!truckForm.controls['truckName'].errors.required" class="err-msg">
                    Truck Name is required.
                </div>
            </div>

            <mat-form-field class="truck-full-width">
                <input matInput placeholder="Truck No" formControlName="truckNo">                    
            </mat-form-field>
            <div *ngIf="truckForm.controls['truckNo'].errors && !truckForm.controls['truckNo'].pristine" class="error-msg">
                <div [hidden]="!truckForm.controls['truckNo'].errors.required" class="err-msg">
                    Truck Number is required.
                </div>
            </div>
    
            <mat-form-field class="truck-full-width">
                <input matInput placeholder="Truck Phone No" formControlName="truckPhNo">                
            </mat-form-field>
            <div *ngIf="truckForm.controls['truckPhNo'].errors && !truckForm.controls['truckPhNo'].pristine" class="error-msg">
                <div [hidden]="!truckForm.controls['truckPhNo'].errors.required" class="err-msg">
                    Truck Phone Number is required.
                </div>
            </div>

            <mat-form-field class="truck-full-width">
                <input matInput placeholder="Truck Email" formControlName="truckEmail">                
            </mat-form-field>
            <div *ngIf="truckForm.controls['truckEmail'].errors && !truckForm.controls['truckEmail'].pristine" class="error-msg">
                <div [hidden]="!truckForm.controls['truckEmail'].errors.required" class="err-msg">
                    Truck Email is required.
                </div>
            </div>
            <button class="truck-submit-btn" mat-raised-button type="submit" [disabled]="!truckForm.valid">Save</button>
        </form>
    </div>
</div>